@media only screen and (max-width : 600px)
{
    body {
      background-color: rgb(115, 233, 241);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .box {
      display: flex;
      img {border: 5px solid rgb(51, 104, 184);
      width: 150px;
      height: 150px;
      padding:center;
      float: left;
      margin-bottom: 40px;
      }
    }
  h1 {
    margin: 20px;
  }
  h2 {
    color: rgb(17, 93, 180);
  }
  .primer-contenedor{
  .extra {display: none;}
  p {display: inline;}
  input[type="checkbox"] {
    height: 2em;
    display:block ;
    appearance: none;
  }
  label {
    position: relative;
    padding: 1em;
    background-color: rgb(69, 220, 231);
    color: rgb(245, 242, 236);
    cursor: pointer;
  }
  label::before {
    content: 'Leer más';
  }
  input[type="checkbox"]:checked ~ label::before {
    content: 'Leer menos';
  }
  .dots:has(~ input[type="checkbox"]:checked) {
    display: none;
  }
  .extra:has(~ input[type="checkbox"]:checked) {
    display: inline;
  }}
.segundo-contenedor {
margin-top: 50px;
margin-bottom: 50px;
}  
  
  }
  @media only screen and (min-width : 600px)
{
    body {
      background-color: rgb(162, 197, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-left: 50px;
    }
    .box {
      display: flex;
      img {border: 5px solid rgb(51, 104, 184);
      width: 250px;
      height: 250px;
      padding:center;
      float: left;
      margin-bottom: 40px;
      margin-top: 50px;
      }
    }
  h1 {
    margin: 20px;
    margin-top: 80px;
  }
  h2 {
    color: rgb(17, 93, 180);
  }
  .primer-contenedor{
  .extra {display: none;}
  p {display: inline;}
  input[type="checkbox"] {
    height: 2em;
    display:block ;
    appearance: none;
      }
  label {
    position: relative;
    padding: 1em;
    background-color: rgb(92, 156, 252);
    color: rgb(245, 242, 236);
    cursor: pointer;
  }
  label::before {
    content: 'Leer más';
  }
  input[type="checkbox"]:checked ~ label::before {
    content: 'Leer menos';
  }
  .dots:has(~ input[type="checkbox"]:checked) {
    display: none;
  }
  .extra:has(~ input[type="checkbox"]:checked) {
    display: inline;
  }}
.segundo-contenedor {
margin-top: 80px;
margin-bottom: 50px;
}  
  
  }
  section {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  summary {
  padding: 15px;
  cursor: pointer;
  }
  li {
    text-align: justify;
    padding: 10px;
  }